Необходимые технические условия
python 3.8.9
pytest 7.4.2
selenium-server	xz
chromeDriver 117.0.5938.88
requests 2.31.0
allure

Precondition 
Установка python 
Установка среды разработки (PyCharm, например)
Selenium webdriver для  Chrome 
Библиотека allure для отчетов

Вызов тестов
В терминале команда pytest -v  для запуск тестов c отображением passed/fail и процента прохождения тестов

Формирование отчёта Allure
 В терминале запустить команду allure: python -m pytest --alluredir=tests/allure_results и далее путь к тесту
Вывести отчет через команду allure serve .tests/allure_results в директории проекта 

Описание проекта 
Магазин школьных принадлежностей https://ukazka.ru 
Тестируется заполнение полей email и пароль для входа в личный кабинет.

1-ый тест test_valid_email
 имитируем вход, используя валидные данные. Ожидаемый результат - вход в личный кабинет. Для имитации реальной почты используется сервис с временными почтовыми адресами https://inboxes.com (действителен в течение 7 дней с момента создания). 

2-ой тест test_invalid_email
использует для входа невалидные почтовый адрес. Ожидаемый результат - сообщение об ошибки.

3-ий тест test_error
проверяет наличие сообщения об ошибке на экране при невыполнении условий авторизации. 

4-ый тест test_logout
Имитирует работу кнопки “выйти из личного кабинета” и подтверждает ожидаемый результат через проверку появления элемента страницы с сообщением “Вы завершили сеанс работы с системой заказов!”. 
